/* frontend/ustyle.css */

body {
	background-color: #eff;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

input {
	font-size: 16px;
}

._weak_button_ {
	margin: 10px;
	text-align: center;
	background-color: #ccc;
	color: #000;
}

._about_middle_ {
	text-align: center;
}

._alert_ {
	position: fixed;
	height: 100px;
	background-color: #aaa;
	top: 0;
	left: 0;
	padding: 0;
}
